<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>New Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="Stylesheet" href="/Cool.css"/>
</head>
<body background="Investering.jpg">
<div> Inloggad som:  <span th:text="${user}"></span></div>
<a href="/logout">Logga ut</a>
<p></p>
<h2> Dina projekt</h2>
<ul>
    <li th:each="project1:${projects}">
        <div>Projektnamn: <span th:text="${project1.title}"></span></div>
        <div>Önskat belopp: <span th:text="${project1.Requested}"></span></div>
    </li>
</ul>

<h2> Skapa nytt projekt</h2>
<p></p>
<p></p>
<h4>Fyll i nedanstående fällt för att skapa ett projekt:</h4>
<p></p>
<p></p>
<form action="#" th:action="@{/newproject}" th:object="${project}" method="POST">
    <div><input placeholder="Titel.." th:field="*{title}"/></div>
    <p></p>
    <p></p>
    <div><textarea placeholder="Beskrivning..." th:field="*{Body}" cols="40" rows="5"></textarea></div>
        <!--<input placeholder="Description..." th:field="*{Body}" />-->
<p></p>
<p></p>
    <div><input placeholder="Summa i SEK..." th:field="*{Requested}"/> Begärd summa.</div>
   <p></p>
    <div> <input type="submit" value="Skapa Projekt"/></div>
</form>

<ul>
    <li><a href="/Index.html">Home</a></li>
</ul>
</body>
</html>