<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${project.title}"></title>
    <link rel="Stylesheet" href="/Cool.css"/>
</head>
<body background="Investering.jpg">
 <h1 th:text="${project.title}" />
 <div th:text="${project.body}"></div>
 <h1>requested:</h1><h1 th:text="${project.Requested}" />
 <h1>Totals funds gathered:</h1><h1 th:text="${project.Total_fund}" />

<p>av <span th:text="${author.firstName} + ' &#x22;' + ${author.userName} + '&#x22; ' + ${author.lastName}" /></p>
<article th:each="post : ${posts}">
    <header>
        <!--        <h2>
                    <a th:href="@{./posts/{id}/(id=${post.id})}" th:text="${post.title}" />
                </h2>-->
        <div th:text="${post.title}" />
        <div th:text="${post.pledged}" />
        <div th:text="${post.message}" />


            <!--
                        <time th:datetime="${post.entryDate}" th:text="${post.entryDate.toLocalDate()} + ' ' + ${post.entryDate.toLocalTime()}"/>
            -->
            <time th:datetime="${post.Date}" th:text="${post.Date.toLocalDate()} + ' ' + ${post.Date.toLocalTime()}"/>




    </header>
    <section>
        <div th:text="${post.body}"></div>
    </section>
</article>




<form th:action="@{./{id}/addposts/(id=${project.id})}" method="POST">

    <input placeholder="Skriv det du vill logga" name="title"/>
    <input placeholder="Satsa" name="pledged"/>
    <input placeholder="Meddelande" name="message"/>
    <input type="submit"/>
</form>

 <ul>
     <li><a href="/Index.html">Home</a></li>
 </ul>
</body>
</html>